 :host {
	display: block;
	min-height: 100vh;
	background-color: #0a0a0a;
	color: #f5f5f5;
}

.page-layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page-main {
	flex: 1;
	display: flex;
	flex-direction: column;
}
