<div>
  <h2>Login</h2>
  
  <div id="googleSignInButton"></div>
  
  <p>- OR -</p>
  
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input 
        type="email" 
        id="email" 
        name="email"
        [(ngModel)]="email"
        required
        [disabled]="isLoading"
      />
    </div>

    <div>
      <label for="password">Password:</label>
      <input 
        type="password" 
        id="password" 
        name="password"
        [(ngModel)]="password"
        required
        [disabled]="isLoading"
      />
    </div>

    <div *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </div>

    <button type="submit" [disabled]="isLoading">
      {{ isLoading ? 'Logging in...' : 'Login' }}
    </button>
  </form>

  <p>
    Don't have an account? <a routerLink="/register">Register here</a>
  </p>
</div>
